<div class="col-12" id="top-bar">
  <div class="row">
    <div class="col-2 site-title">
      <fa-icon [icon]="logoIcon" size="3x"></fa-icon>
      <p>Tourist App</p>
    </div>

    <div class="div col-8">
      <ul class="menu">
        <li routerLink="/locations" routerLinkActive="selected">Locations</li>
        <li routerLink="/add-location" routerLinkActive="selected">Add new location</li>
      </ul>
    </div>
    <div class="col-2">
      <div [hidden]="isUserLoggedIn()" class="logout-button" (click)="btnLogin_Click()"><a>Login with Facebook</a></div>      
      <div [hidden]="!isUserLoggedIn()" class="logout-button" (click)="btnLogout_Click()"><a>Logout</a></div>
    </div>
  </div>
</div>